<html>
  <head>
    <title>LIFE LOG DATA</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <script src="/javascripts/app.js"></script>
    <a href="https://platform.lifelog.sonymobile.com/oauth/2/authorize?client_id=3589cfb4-67ae-4bca-aa6a-bf9b45ae371a&scope=lifelog.activities.read">Yo</a>
  </body>
</html>